<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
        <div class="container">
            <%- include('../partials/alert.ejs') %>
                <div class="col-sm-12 mt-4">
                    <div class="d-flex justify-content-center">
                        <form method="post">
                            <div style="width: 600px;">
                                <h2 class="text-center mb-1 text-primary" style="font-family: serif; font-weight: 600;">
                                    Add
                                    Product</h2>
                                <hr class="text-success">
                                <div class=" mb-3">
                                    <label for="name" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Enter Product Name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="type" class="form-label">Product Type</label>
                                    <input type="text" class="form-control" id="type" name="type"
                                        placeholder="Enter product type" required>
                                </div>
                                <div class="mb-3">
                                    <label for="qty" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" id="qty" name="qty"
                                        placeholder="Enter Product Quantity" required>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Price/qty</label>
                                    <input type="number" class="form-control" id="price" name="price"
                                        placeholder="Price per quantity" required>
                                </div>
                                <div class=" mb-3">
                                    <label for="description" class="form-label">Product Description</label>
                                    <textarea class="form-control" placeholder="Enter Product Description..."
                                        id="description" name="description"></textarea>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-success ">Add Product</button>
                                    <a href="/product/show" class="btn btn-info" onclick="history.clear()">Show
                                        Dashboard</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <%- include('../partials/footer.ejs') %>